{
  "extends": [
	  "standard",
	  "plugin:rc-leaflet/es-dev"
  ],
  "plugins": [
	"rc-leaflet"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
	"indent": ["error", "tab", {"SwitchCase": 1}],
	"max-len": ["error", 200]
  }
}
